<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    <ul>
        <li> Full Stack Developer </li>
        <li> Knowledge Base: Javascript, NodeJS, TypeScript, Golang, Ruby(a bit), MySql, Python, MogoDB, Firebase, Google APP </li>
        <li> Familiar with Vue and all it's ecosystem tool like Vuex, Vue-Router, etc </li>
        <li> Web extension developer (Chrome extension, Firefox Addon and Safari Extension) </li>
        <li> TOP Rated Freelancer on Upwork </li>
        <li> Video Games Fan, especially FPS Games, huge BattleField Fan. </li>
        <li> Like Running, average distance 15km per week, average pace 4.5min/km </li>
    </ul>
</div>
