<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    <ul>
        <li> Full Stack Developer </li>
        <li> Knowledge Base: Javascript, NodeJS, TypeScript, Golang, Ruby(a bit), MySql, Python, MogoDB, Firebase, Google APP, Mendix Low Code </li>
        <li> Vue guru </li>
        <li> Also using React </li>
        <li> Web extension developer (Chrome, Firefox) </li>
        <li> TOP Rated Freelancer on Upwork </li>
        <li> Video Games Fan, especially FPS Games, huge BattleField Fan. </li>
        <li> Like Running, average distance 15km per week, average pace 4.5min/km </li>
    </ul>
</div>
