<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    <ul>
        <li> A Front End Developer Now.</li>
        <li> Knowledge Base: Javascript, NodeJS, TypeScript(learning), Golang, Ruby(a bit), MySql, Python</li>
        <li> Familiar with Vue and all it's ecosystem tool like Vuex, Vue-Router, etc</li>
        <li> Web extension developer (Chrome extension, Firefox Addon and Safari Extension)</li>
        <li> Learning Backend skills like Golang</li>
        <li> Learning Mobile app development skills like Flutter</li>
        <li> Used to be TOP Rated Freelancer on Upwork for more than 3 years</li>
        <li> Used to be COO of a online store company which sold more than 10M RMB a year </li>
        <li> Video Games Fan, especially FPS Games, huge BattleField Fan. </li>
        <li> Like Running, average distance 15km per week, average pace 5min/km</li>
    </ul>
</div>